.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container {
  text-align: center;
  padding: 20px;
}

h2 {
  color: royalblue;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-input {
  margin: 10px 0;
}

.form-input label {
  font-weight: bold;
}

.form-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #1E90FF;
}

Table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

Table thead th {
  background-color: royalblue;
  color: white;
  font-weight: bold;
}

Table tbody tr:hover {
  background-color: #653f3f;
  transition: background-color 0.3s;
  color: white;
}

.action-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.action-button.delete {
  background-color: red;
  color: white;
}

.action-button.edit {
  background-color: green;
  color: white;
}

.action-button:hover {
  background-color: #c3c3c3;
}
